@font-face {
    font-family: 'myfont';
    src: url("../font/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf");
} 

body{
    margin: 0%;
    font-family: myfont; 
    background-color:rgb(255, 255, 255);
}

/* header */

.header-wrapper{
width: 90%;
margin: 0 auto 0;
padding-top: 20px;
padding-bottom: 20px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.site-title{
font-size: 40px;
font-family: serif;
}

.nav-list{
display: flex;
}

.nav-list li{
 margin-right: 10px;
}

.nav-list li:last-child{
margin-right: 0;
}


/* main */

#app nav{
    display: none;
} 

.section-title{
font-size: 30px;
text-align: center;
margin: 150px 0 30px ;
}

.card{
width: 60%;
margin: 0 auto;
}

.form-group{
width: 70%;
margin: 0 auto 30px;
}

input{
    background-color: rgb(255, 255, 255);
}


.form-control{
margin-top: 5px;
border: 1px solid gray;
width: 100%; 
}

.btn{
display: block; 
text-align: center;
width: 150px;
height: 40px;
margin: 50px auto ;
border: 1px solid gray;
border-radius: 50px;
background-color: orange;
}

/* footer */
.footer{
/* margin-top: 100px; */
width: 100%;
border-top: 1px solid rgba(128, 128, 128, 0.459);
text-align: center;
padding: 20px;
position: absolute;
bottom: 0px;
}