@font-face {
    font-family: 'myfont';
    src: url("../font/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf");
} 

body{
    margin: 0%;
    font-family: myfont; 
    background-color:rgb(255, 255, 255);
}

/* header */

.header-wrapper{
    width: 90%;
    margin: 0 auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.site-title{
    font-size: 40px;
    font-family: serif;
}

.nav-list{
    display: flex;
}

.nav-list li{
     margin-right: 10px;
}

.nav-list li:last-child{
    margin-right: 0;
}

/* main */

.form-wrapper{
    width: 60%;
    margin: 100px auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.production{
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    /* justify-content: space-between; */
}

.img-wrapper{
    /* border: 1px solid gray;  */
    width: 30%; 
    height: 308px;
    margin-right: 10%;
}



.production-img{
    width: 100%;  
    display: block;
    margin-top: 142px; 
    text-align: center; 
}

.production-detail{
    width: 60%;
}

.title{
    font-size: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px auto 20px;
    padding: 5px;
    /* color: rgba(93, 93, 93, 0.342); */
}

.radio-btn{
    margin-bottom: 20px;
}

/* .creater-list{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;  
} */

.creater-list li{
    width: 100%;  
    display: flex; 
    align-items: center;
    /* color: rgba(0, 0, 0, 0.342); */
}

.role{
    width: 45%;  
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 10px 5px 0;
    /* color: rgba(0, 0, 0, 0.342); */
}

.creater-name{
    width: 45%; 
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0 5px 10px;
    /* color: rgba(0, 0, 0, 0.342); */
}

.btn{
    display: block;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 50px;
    background-color: orange;
}

/* footer */
.footer{
    margin-top: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.459);
    text-align: center;
    padding: 20px;
}